/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 13px;
}

main {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: black;
  text-align: center;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

header a, header a:visited {
  text-decoration: none;
  color: white;
}

header a:hover {
  font-style: italic;
}

a, a:visited {
  color: back;
}

hr {
  border: 0;
  border-top: 1px solid #CCC;
  margin: 15px auto;
}

.error_explanation ul {
  margin-left: 25px;
  font-size: 12px;
}

#alert, #notice {
  border: 1px solid black;
  padding: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.button_bar {
  display: block;
  margin: 20px auto;
}

.button {
  border: 1px solid black;
  padding: 5px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.form {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.form textarea {
  width: 40%;
  resize: none;
  border: 1px solid #CCC;
  height: 120px;
}

.text_box {
  width: 100%;
  resize: none;
  border: 1px solid black;
  height: 125px;
}

.review {
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 25px;
}

.review:last-child {
  display: none;
}

footer {
  width: 100%;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
